In [1]:
import pandas as pd
import dask.dataframe as dd

### 改

In [2]:
# change this for data for different years
file_path = 'E://HMS//2020//Annual_Files//panelists_2020.tsv'
#file_path = 'E://HMS//2019//Annual_Files//panelists_2019.tsv'
#file_path = 'E://HMS//2018//Annual_Files//panelists_2018.tsv'
#file_path = 'E://HMS//2017//Annual_Files//panelists_2017.tsv'
#file_path = 'E://HMS//2016//Annual_Files//panelists_2016.tsv'
#file_path = 'E://HMS//2015//Annual_Files//panelists_2015.tsv'
#file_path = 'E://HMS//2014//Annual_Files//panelists_2014.tsv'
#file_path = 'E://HMS//2013//Annual_Files//panelists_2013.tsv'
#file_path = 'E://HMS//2012//Annual_Files//panelists_2012.tsv'
#file_path = 'E://HMS//2011//Annual_Files//panelists_2011.tsv'
panelist_df = dd.read_csv(file_path, sep='\t', dtype={'Panelist_ZipCd': 'str','Female_Head_Birth': 'float64','Female_Head_Occupation':'float64',
    'TV_Items': 'float64','Type_Of_Residence':'float64'})
panelist_df['Panelist_ZipCd'] = panelist_df['Panelist_ZipCd'].astype(str).str.zfill(5)

In [3]:
panelist_2020 = panelist_df.drop(columns = ['Projection_Factor','Projection_Factor_Magnet','Type_Of_Residence','Household_Composition', 'Male_Head_Birth','Female_Head_Birth',
 'Hispanic_Origin',
  'Female_Head_Occupation',
 'Male_Head_Occupation',                                           
 'Fips_State_Cd',
 'Fips_State_Desc',
 'Fips_County_Cd',
 'Fips_County_Desc',
 'Region_Cd',
 'Scantrack_Market_Identifier_Cd',
 'Scantrack_Market_Identifier_Desc',
 'DMA_Cd',
 'DMA_Name',
 'Kitchen_Appliances',
 'TV_Items',
 'Household_Internet_Connection',
 'Wic_Indicator_Current',
 'Wic_Indicator_Ever_Not_Current',
 'Member_1_Birth',
 'Member_1_Relationship_Sex',
 'Member_1_Employment',
 'Member_2_Birth',
 'Member_2_Relationship_Sex',
 'Member_2_Employment',
 'Member_3_Birth',
 'Member_3_Relationship_Sex',
 'Member_3_Employment',
 'Member_4_Birth',
 'Member_4_Relationship_Sex',
 'Member_4_Employment',
 'Member_5_Birth',
 'Member_5_Relationship_Sex',
 'Member_5_Employment',
 'Member_6_Birth',
 'Member_6_Relationship_Sex',
 'Member_6_Employment',
 'Member_7_Birth',
 'Member_7_Relationship_Sex',
 'Member_7_Employment'])
panelist_2020

Dask DataFrame Structure:
              Household_Cd Panel_Year Household_Income Household_Size Age_And_Presence_Of_Children Male_Head_Age Female_Head_Age Male_Head_Employment Female_Head_Employment Male_Head_Education Female_Head_Education Marital_Status   Race Panelist_ZipCd
npartitions=1
                     int64      int64            int64          int64                        int64         int64           int64                int64                  int64               int64                 int64          int64  int64         string
                       ...        ...              ...            ...                          ...           ...             ...                  ...                    ...                 ...                   ...            ...    ...            ...
Dask Name: drop_by_shallow_copy, 9 graph layers

In [4]:
#panelist_2020['Female_Head_Occupation'] = panelist_2020['Female_Head_Occupation'].fillna(0)

# Convert the Female_Head_Occupation column to integer type
#panelist_2020['Female_Head_Occupation'] = panelist_2020['Female_Head_Occupation'].astype(int)

In [5]:
panelist_2020.compute()

,Household_Cd,Panel_Year,Household_Income,Household_Size,Age_And_Presence_Of_Children,Male_Head_Age,Female_Head_Age,Male_Head_Employment,Female_Head_Employment,Male_Head_Education,Female_Head_Education,Marital_Status,Race,Panelist_ZipCd
0,2054802,2020,16,2,9,9,9,9,9,3,4,1,1,19074
1,2059397,2020,21,3,9,9,8,9,9,4,3,1,2,94605
2,2060144,2020,23,2,9,9,9,9,9,3,3,1,1,92840
3,2072634,2020,23,2,9,9,8,9,1,4,2,1,2,94605
4,2073384,2020,17,2,9,0,8,0,2,0,5,3,1,11756
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60096,4969863,2020,27,2,9,3,3,3,3,5,6,1,1,32606
60097,8846778,2020,16,1,9,9,0,9,0,5,0,3,2,63074
60098,8856115,2020,26,1,9,0,9,0,3,0,5,3,1,99336
60099,6990949,2020,6,3,5,0,4,0,9,0,3,3,1,98604
60100,6997253,2020,27,2,9,9,0,1,0,6,0,1,1,75092

In [6]:
panelist_2020['Male_Head_Age'] = panelist_2020.apply(lambda row: row['Female_Head_Age'] if row['Male_Head_Age'] == 0 else row['Male_Head_Age'], axis=1, meta=('Male_Head_Age', 'int64'))
# 用male_head_age替换female_head_age中的0
panelist_2020['Female_Head_Age'] = panelist_2020.apply(lambda row: row['Male_Head_Age'] if row['Female_Head_Age'] == 0 else row['Female_Head_Age'], axis=1, meta=('Male_Head_Age', 'int64'))

# 计算male_head_age和female_head_age的均值
panelist_2020['head_age'] = panelist_2020[['Male_Head_Age', 'Female_Head_Age']].mean(axis=1).round().astype(int)

panelist_2020['head_education'] = panelist_2020[['Male_Head_Education', 'Female_Head_Education']].max(axis=1)

# 删除male_head_age, female_head_age, male_head_education, female_head_education列
panelist_2020 = panelist_2020.drop(columns=['Male_Head_Age', 'Female_Head_Age'])

### Also needs change

In [7]:
#Also needs change
#trip_df = dd.read_csv('E://HMS//2020//Annual_Files//trips_2020.tsv',sep = '\t')
#trip_df = dd.read_csv('E://HMS//2019//Annual_Files//trips_2019.tsv',sep = '\t')
#trip_df = dd.read_csv('E://HMS//2018//Annual_Files//trips_2018.tsv',sep = '\t')
#trip_df = dd.read_csv('E://HMS//2017//Annual_Files//trips_2017.tsv',sep = '\t')
#trip_df = dd.read_csv('E://HMS//2016//Annual_Files//trips_2016.tsv',sep = '\t')
#trip_df = dd.read_csv('E://HMS//2015//Annual_Files//trips_2015.tsv',sep = '\t')
#trip_df = dd.read_csv('E://HMS//2014//Annual_Files//trips_2014.tsv',sep = '\t')
#trip_df = dd.read_csv('E://HMS//2013//Annual_Files//trips_2013.tsv',sep = '\t')
#trip_df = dd.read_csv('E://HMS//2012//Annual_Files//trips_2012.tsv',sep = '\t')
trip_df = dd.read_csv('E://HMS//2011//Annual_Files//trips_2011.tsv',sep = '\t')

In [8]:
trip_df.columns.tolist()

['trip_code_uc',
 'household_code',
 'purchase_date',
 'retailer_code',
 'store_code_uc',
 'panel_year',
 'store_zip3',
 'total_spent']

In [9]:
#trip_2020 = trip_df.drop(columns = [ 'purchase_date', 'retailer_code',
#       'store_code_uc', 'panel_year', 'store_zip3', 'total_spent',
#       'method_of_payment_cd'])
#2012前的要用这个
trip_2020 = trip_df.drop(columns = [ 'purchase_date', 'retailer_code',
       'store_code_uc', 'panel_year', 'store_zip3', 'total_spent'])

In [10]:
del trip_df

In [11]:
merge_2020_1 = dd.merge(panelist_2020, trip_2020, left_on = 'Household_Cd', right_on ='household_code' )

In [12]:
del trip_2020

In [13]:
del panelist_2020
del panelist_df

In [14]:
merge_2020_1 = merge_2020_1.drop(columns=['household_code'])

### Also needs change

In [15]:
#purchase_df = dd.read_csv('E://HMS//2020//Annual_Files//purchases_2020.tsv',sep = '\t')
#purchase_df = dd.read_csv('E://HMS//2019//Annual_Files//purchases_2019.tsv',sep = '\t')
#purchase_df = dd.read_csv('E://HMS//2018//Annual_Files//purchases_2018.tsv',sep = '\t')
#purchase_df = dd.read_csv('E://HMS//2017//Annual_Files//purchases_2017.tsv',sep = '\t')
#purchase_df = dd.read_csv('E://HMS//2016//Annual_Files//purchases_2016.tsv',sep = '\t')
#purchase_df = dd.read_csv('E://HMS//2015//Annual_Files//purchases_2015.tsv',sep = '\t')
#purchase_df = dd.read_csv('E://HMS//2014//Annual_Files//purchases_2014.tsv',sep = '\t')
#purchase_df = dd.read_csv('E://HMS//2013//Annual_Files//purchases_2013.tsv',sep = '\t')
#purchase_df = dd.read_csv('E://HMS//2012//Annual_Files//purchases_2012.tsv',sep = '\t')
purchase_df = dd.read_csv('E://HMS//2011//Annual_Files//purchases_2011.tsv',sep = '\t')

In [16]:
purchase_df.columns.tolist()

['trip_code_uc',
 'upc',
 'upc_ver_uc',
 'quantity',
 'total_price_paid',
 'coupon_value',
 'deal_flag_uc']

In [17]:
purchase_df['total_price_paid']=purchase_df['total_price_paid']-purchase_df['coupon_value']

In [18]:
purchase_2020 = purchase_df.drop(columns = ['coupon_value',
       'deal_flag_uc', 'upc_ver_uc'])

In [19]:
del purchase_df

In [20]:
merge_2020_2 = dd.merge(merge_2020_1, purchase_2020, on = 'trip_code_uc' )

In [21]:
merge_2020_2

Dask DataFrame Structure:
               Household_Cd Panel_Year Household_Income Household_Size Age_And_Presence_Of_Children Male_Head_Employment Female_Head_Employment Male_Head_Education Female_Head_Education Marital_Status   Race Panelist_ZipCd head_age head_education trip_code_uc    upc quantity total_price_paid
npartitions=42
                      int64      int64            int64          int64                        int64                int64                  int64               int64                 int64          int64  int64         string    int32          int64        int64  int64    int64          float64
                        ...        ...              ...            ...                          ...                  ...                    ...                 ...                   ...            ...    ...            ...      ...            ...          ...    ...      ...              ...
...                     ...        ...              ...            ...                          ...                  ...                    ...                 ...                   ...            ...    ...            ...      ...            ...          ...    ...      ...              ...
                        ...        ...              ...            ...                          ...                  ...                    ...                 ...                   ...            ...    ...            ...      ...            ...          ...    ...      ...              ...
                        ...        ...              ...            ...                          ...                  ...                    ...                 ...                   ...            ...    ...            ...      ...            ...          ...    ...      ...              ...
Dask Name: merge_chunk, 44 graph layers

In [22]:
del purchase_2020
del merge_2020_1

In [23]:
#product_hierarchy_df = pd.read_excel('E://reference_documentation//2004-2020_Documentation//Product_Hierarchy 2004-2020 data.xlsx')
#product_hierarchy_ddf = dd.from_pandas(product_hierarchy_df, npartitions=4)

In [24]:
products_df = dd.read_csv('E://HMS//Master_Files//Latest//products.tsv',  dtype={'upc': 'int64'},sep='\t', encoding='latin1',assume_missing=True)

In [25]:
products_df

Dask DataFrame Structure:
                  upc upc_ver_uc upc_descr product_module_code product_module_descr product_group_code product_group_descr department_code department_descr brand_code_uc brand_descr    multi size1_code_uc size1_amount size1_units dataset_found_uc size1_change_flag_uc
npartitions=14
                int64    float64    string             float64               string            float64              string         float64           string       float64      string  float64       float64      float64      string           string              float64
                  ...        ...       ...                 ...                  ...                ...                 ...             ...              ...           ...         ...      ...           ...          ...         ...              ...                  ...
...               ...        ...       ...                 ...                  ...                ...                 ...             ...              ...           ...         ...      ...           ...          ...         ...              ...                  ...
                  ...        ...       ...                 ...                  ...                ...                 ...             ...              ...           ...         ...      ...           ...          ...         ...              ...                  ...
                  ...        ...       ...                 ...                  ...                ...                 ...             ...              ...           ...         ...      ...           ...          ...         ...              ...                  ...
Dask Name: to_pyarrow_string, 2 graph layers

In [26]:
status_rating = dd.read_csv('E://HMS//Master_Files//ratings_for_msc_students.csv')

In [27]:
status_rating

Dask DataFrame Structure:
              department_descr product_group_descr product_module_descr rating_avg rating_normalized
npartitions=1
                        string              string               string    float64           float64
                           ...                 ...                  ...        ...               ...
Dask Name: to_pyarrow_string, 2 graph layers

In [28]:
#import numpy as np
#products_df['product_group_descr'] = products_df['product_group_descr'].replace('UNGROUPED ITEMS',np.nan)
#products_df['product_group_descr'] = products_df['product_group_descr'].fillna(products_df['product_module_descr'])

In [29]:
#df_category_before = pd.DataFrame(products_df['product_group_descr'].unique())
#df_category_before .to_excel ('E://reference_documentation//2004-2020_Documentation//2004-2020category_score.xlsx')

In [30]:
products_df = products_df.drop(columns=['upc_ver_uc','upc_descr','product_group_code',	'product_module_code','department_code',	'department_descr',	'brand_code_uc','brand_descr',	'multi',	
                         'size1_code_uc',	'size1_amount',	'size1_units',	'dataset_found_uc',	'size1_change_flag_uc'])

In [31]:
products_df

Dask DataFrame Structure:
                  upc product_module_descr product_group_descr
npartitions=14
                int64               string              string
                  ...                  ...                 ...
...               ...                  ...                 ...
                  ...                  ...                 ...
                  ...                  ...                 ...
Dask Name: drop_by_shallow_copy, 4 graph layers

In [32]:
category_merged = dd.merge(products_df,status_rating,on =['product_module_descr','product_group_descr'])

In [33]:
category_merged

Dask DataFrame Structure:
                  upc product_module_descr product_group_descr department_descr rating_avg rating_normalized
npartitions=14
                int64               string              string           string    float64           float64
                  ...                  ...                 ...              ...        ...               ...
...               ...                  ...                 ...              ...        ...               ...
                  ...                  ...                 ...              ...        ...               ...
                  ...                  ...                 ...              ...        ...               ...
Dask Name: merge_chunk, 7 graph layers

In [34]:
#Product_Hierarchy = product_hierarchy_ddf.drop(columns=['product_module_descr','product_group_code','department_code','department_descr','Deferred (Please see documentation for explanation and notes)',
#                             'Only in the Consumer Panel (HMS) Dataset or only in the listed years are available', 'Only in the Retail Scanner (RMS) Dataset',
#                               'Does not contain any data from HMS or RMS','Unnamed: 11'])

In [35]:
#df_category_before = pd.DataFrame(Product_Hierarchy['product_group_descr'].unique())
#df_category_before .to_excel ('D://下载//dissertation//df_category_before .xlsx')

In [36]:
#products_df['product_module_code'] = products_df['product_module_code'].astype('int64')
#products_df['upc'] = products_df['upc'].astype('int64')
#product_hierarchy_ddf['product_module_code'] = product_hierarchy_ddf['product_module_code'].astype('int64')
#category_merged = dd.merge(products_df, Product_Hierarchy[['product_module_code',	'product_group_descr']], on = 'product_module_code')

In [37]:
#category_merged.drop(columns=['product_module_code'])

In [38]:
#del products_df
#del Product_Hierarchy

In [39]:
#category_merged = category_merged.dropna(subset=['product_group_descr'])

In [40]:
#category_merged  = category_merged [category_merged ['product_group_descr'] != 'UNGROUPED ITEMS' ]
#category_merged  = category_merged [category_merged ['product_group_descr'] != 'UNGROUPED']

In [41]:
merge_2020_3 = dd.merge(merge_2020_2,category_merged,on ='upc')

In [42]:
merge_2020_3

Dask DataFrame Structure:
               Household_Cd Panel_Year Household_Income Household_Size Age_And_Presence_Of_Children Male_Head_Employment Female_Head_Employment Male_Head_Education Female_Head_Education Marital_Status   Race Panelist_ZipCd head_age head_education trip_code_uc    upc quantity total_price_paid product_module_descr product_group_descr department_descr rating_avg rating_normalized
npartitions=42
                      int64      int64            int64          int64                        int64                int64                  int64               int64                 int64          int64  int64         string    int32          int64        int64  int64    int64          float64               string              string           string    float64           float64
                        ...        ...              ...            ...                          ...                  ...                    ...                 ...                   ...            ...    ...            ...      ...            ...          ...    ...      ...              ...                  ...                 ...              ...        ...               ...
...                     ...        ...              ...            ...                          ...                  ...                    ...                 ...                   ...            ...    ...            ...      ...            ...          ...    ...      ...              ...                  ...                 ...              ...        ...               ...
                        ...        ...              ...            ...                          ...                  ...                    ...                 ...                   ...            ...    ...            ...      ...            ...          ...    ...      ...              ...                  ...                 ...              ...        ...               ...
                        ...        ...              ...            ...                          ...                  ...                    ...                 ...                   ...            ...    ...            ...      ...            ...          ...    ...      ...              ...                  ...                 ...              ...        ...               ...
Dask Name: merge_chunk, 62 graph layers

In [43]:
del merge_2020_2

In [44]:
#目前是自己瞎搞的要替换2004到2020都用这个
#category_status = pd.read_excel('E://reference_documentation//2004-2020_Documentation//df_category_before .xlsx')

In [45]:
#category_status = dd.from_pandas(category_status, npartitions=4)
#print(category_status.head())

In [46]:
#merge_2020_4 = dd.merge(merge_2020_3,category_status, left_on = 'product_group_descr', right_on = 'category')

In [47]:
#merge_2020_4 = merge_2020_4.compute()

In [48]:
#merge_2020_4

In [49]:
merge_2020_3

Dask DataFrame Structure:
               Household_Cd Panel_Year Household_Income Household_Size Age_And_Presence_Of_Children Male_Head_Employment Female_Head_Employment Male_Head_Education Female_Head_Education Marital_Status   Race Panelist_ZipCd head_age head_education trip_code_uc    upc quantity total_price_paid product_module_descr product_group_descr department_descr rating_avg rating_normalized
npartitions=42
                      int64      int64            int64          int64                        int64                int64                  int64               int64                 int64          int64  int64         string    int32          int64        int64  int64    int64          float64               string              string           string    float64           float64
                        ...        ...              ...            ...                          ...                  ...                    ...                 ...                   ...            ...    ...            ...      ...            ...          ...    ...      ...              ...                  ...                 ...              ...        ...               ...
...                     ...        ...              ...            ...                          ...                  ...                    ...                 ...                   ...            ...    ...            ...      ...            ...          ...    ...      ...              ...                  ...                 ...              ...        ...               ...
                        ...        ...              ...            ...                          ...                  ...                    ...                 ...                   ...            ...    ...            ...      ...            ...          ...    ...      ...              ...                  ...                 ...              ...        ...               ...
                        ...        ...              ...            ...                          ...                  ...                    ...                 ...                   ...            ...    ...            ...      ...            ...          ...    ...      ...              ...                  ...                 ...              ...        ...               ...
Dask Name: merge_chunk, 62 graph layers

### 除了2006-2009以外

In [50]:
children_mapping ={1:'Under 6 only',2:'6-12 only',3:'13-17 only',4:'Under 6 & 6-12',5:'Under 6 & 13-17',
                   6:'6-12 & 13-17',7:'Under 6 & 6-12 & 13-17',9:'No Children Under 18'}

In [51]:
#income_mapping = {
#    3: 2500, 4: 6500, 6: 9000, 8: 11000, 10: 13500,
#    11: 17500, 13: 22500, 15:27500, 16: 32500, 17: 37500,
#    18:  42500, 19: 47500, 21: 55000, 23: 65000, 26: 85000,27: 125000
#}

In [52]:
income_mapping = {
    3: 'Under $5000', 4: '$5000-$7999', 6: '$8000-$9999', 8: '$10,000-$11,999', 10: '$12,000-$14,999',
    11: '$15,000-$19,999', 13: '$20,000-$24,999', 15:'$25,000-$29,999', 16: '$30,000-$34,999', 17: '$35,000-$39,999',
    18:  '$40,000-$44,999 ', 19: '$45,000-$49,999', 21: '$50,000-$59,999', 23: '$60,000-$69,999', 26: '$70,000-$99,999',27:'$100,000 +'
}

Marital_Status_mapping = {1:'Married',2:'Widowed',3:'Divorced/Separated',4:'Single'}

employment_mapping = {1:'Under 30 hours',2:'30-34 hours',3:'35+ hours',9:'Not Employed for Pay', 0:'No Male/Female Head '}
# Replace the ranges with median values
#merge_2020_4 ['Household_Income'] = merge_2020_4 ['Household_Income'].replace(income_mapping)

In [53]:
age_mapping ={1:'Under 25 Years',2:'25-29',3:'30-34',4:'35-39',5:'40-44',6:'45-49',7:'50-54',8:'55-64',9:'65+'
    }
education_mapping={ 1:'Grade School',2:'Some High School',3:'Graduated High School',4:'Some College',5:'Graduated College',6:'Post College Grad',0:'Unknown'}
race_mapping = {1:'White/Caucasian',2:'Black/African American',3:'Asian',4:'Other'}
merge_2020_3['Age_And_Presence_Of_Children'] = merge_2020_3['Age_And_Presence_Of_Children'].replace(children_mapping)
merge_2020_3['Household_Income'] = merge_2020_3['Household_Income'].replace(income_mapping)
merge_2020_3['Race'] =merge_2020_3['Race'].replace(race_mapping)
merge_2020_3['head_age'] =merge_2020_3['head_age'].replace(age_mapping)
merge_2020_3['Marital_Status'] =merge_2020_3['Marital_Status'].replace(Marital_Status_mapping)
merge_2020_3['head_education'] =merge_2020_3['head_education'].replace(education_mapping)
merge_2020_3['Male_Head_Employment']= merge_2020_3['Male_Head_Employment'].replace(employment_mapping)
merge_2020_3['Female_Head_Employment']=merge_2020_3['Female_Head_Employment'].replace(employment_mapping)

In [54]:
#merge_2020_4['status_score'] = (merge_2020_4['total_price_paid'] * merge_2020_4['status_score'])/ merge_2020_4['Household_Income']
#df_aggregated = merge_2020_4.groupby(
#    ['Household_Cd', 'Household_Income','Panel_Year', 'Household_Size', 'Age_And_Presence_Of_Children', 'Race', 'Panelist_ZipCd'],
#    as_index=False
#)['status_score'].sum()

In [55]:
merge_2020_3 = merge_2020_3.drop(columns=['trip_code_uc',	'upc', 	'product_group_descr','department_descr','product_module_descr','rating_normalized','quantity'])

In [56]:
merge_2020_3

Dask DataFrame Structure:
               Household_Cd Panel_Year Household_Income Household_Size Age_And_Presence_Of_Children Male_Head_Employment Female_Head_Employment Male_Head_Education Female_Head_Education Marital_Status    Race Panelist_ZipCd head_age head_education total_price_paid rating_avg
npartitions=42
                      int64      int64            int64          int64                       string               string                 string               int64                 int64         string  string         string   string         string          float64    float64
                        ...        ...              ...            ...                          ...                  ...                    ...                 ...                   ...            ...     ...            ...      ...            ...              ...        ...
...                     ...        ...              ...            ...                          ...                  ...                    ...                 ...                   ...            ...     ...            ...      ...            ...              ...        ...
                        ...        ...              ...            ...                          ...                  ...                    ...                 ...                   ...            ...     ...            ...      ...            ...              ...        ...
                        ...        ...              ...            ...                          ...                  ...                    ...                 ...                   ...            ...     ...            ...      ...            ...              ...        ...
Dask Name: drop_by_shallow_copy, 94 graph layers

In [57]:
sum_total_price = merge_2020_3.groupby(['Household_Cd','Panel_Year'])['total_price_paid'].sum().reset_index()

In [58]:
sum_total_price= sum_total_price.rename(columns={'total_price_paid':'sum_of_total_price_paid'})

In [59]:
merge_2020_4 = dd.merge(merge_2020_3, sum_total_price, on =['Household_Cd','Panel_Year'] )

In [60]:
merge_2020_4

Dask DataFrame Structure:
               Household_Cd Panel_Year Household_Income Household_Size Age_And_Presence_Of_Children Male_Head_Employment Female_Head_Employment Male_Head_Education Female_Head_Education Marital_Status    Race Panelist_ZipCd head_age head_education total_price_paid rating_avg sum_of_total_price_paid
npartitions=42
                      int64      int64            int64          int64                       string               string                 string               int64                 int64         string  string         string   string         string          float64    float64                 float64
                        ...        ...              ...            ...                          ...                  ...                    ...                 ...                   ...            ...     ...            ...      ...            ...              ...        ...                     ...
...                     ...        ...              ...            ...                          ...                  ...                    ...                 ...                   ...            ...     ...            ...      ...            ...              ...        ...                     ...
                        ...        ...              ...            ...                          ...                  ...                    ...                 ...                   ...            ...     ...            ...      ...            ...              ...        ...                     ...
                        ...        ...              ...            ...                          ...                  ...                    ...                 ...                   ...            ...     ...            ...      ...            ...              ...        ...                     ...
Dask Name: merge_chunk, 100 graph layers

In [61]:
merge_2020_4= merge_2020_4.rename(columns={'rating_avg':'status_score'})

In [62]:
merge_2020_4['status_score'] = (merge_2020_4['total_price_paid'] * merge_2020_4['status_score']) / merge_2020_4['sum_of_total_price_paid']

In [63]:
del merge_2020_3

In [64]:

df_aggregated = merge_2020_4.groupby(
    ['Household_Cd','Panel_Year', 'Household_Income', 'Household_Size','head_age', 'Race','Marital_Status', 'head_education','Male_Head_Employment','Female_Head_Employment','Age_And_Presence_Of_Children', 'Panelist_ZipCd']
)['status_score'].sum().reset_index()

In [65]:
df_aggregated

Dask DataFrame Structure:
              Household_Cd Panel_Year Household_Income Household_Size head_age    Race Marital_Status head_education Male_Head_Employment Female_Head_Employment Age_And_Presence_Of_Children Panelist_ZipCd status_score
npartitions=1
                     int64      int64            int64          int64   string  string         string         string               string                 string                       string         string      float64
                       ...        ...              ...            ...      ...     ...            ...            ...                  ...                    ...                          ...            ...          ...
Dask Name: reset_index, 111 graph layers

In [66]:
df_aggregated=df_aggregated.compute()

## change to save data for differnt years and aggregated data in the aggregate_data file

In [68]:
#2020
#df_aggregated.to_excel ('E://model_data//aggragated_score_2020.xlsx')
#df_aggregated.to_excel ('D://OneDrive - University of Warwick//model_data//aggragated_score_2020.xlsx')

In [69]:
#2019
#df_aggregated.to_excel ('E://model_data//aggragated_score_2019.xlsx')
#df_aggregated.to_excel ('D://OneDrive - University of Warwick//model_data//aggragated_score_2019.xlsx')

In [70]:
#2018
#df_aggregated.to_excel ('E://model_data//aggragated_score_2018.xlsx')
#df_aggregated.to_excel ('D://OneDrive - University of Warwick//model_data//aggragated_score_2018.xlsx')

In [71]:
#2017
#df_aggregated.to_excel ('E://model_data//aggragated_score_2017.xlsx')
#df_aggregated.to_excel ('D://OneDrive - University of Warwick//model_data//aggragated_score_2017.xlsx')

In [72]:
#2016
#df_aggregated.to_excel ('E://model_data//aggragated_score_2016.xlsx')
#df_aggregated.to_excel ('D://OneDrive - University of Warwick//model_data//aggragated_score_2016.xlsx')

In [73]:
#2015
#df_aggregated.to_excel ('E://model_data//aggragated_score_2015.xlsx')
#df_aggregated.to_excel ('D://OneDrive - University of Warwick//model_data//aggragated_score_2015.xlsx')

In [74]:
#2014
#df_aggregated.to_excel ('E://model_data//aggragated_score_2014.xlsx')
#df_aggregated.to_excel ('D://OneDrive - University of Warwick//model_data//aggragated_score_2014.xlsx')

In [75]:
#2013
#df_aggregated.to_excel ('E://model_data//aggragated_score_2013.xlsx')
#df_aggregated.to_excel ('D://OneDrive - University of Warwick//model_data//aggragated_score_2013.xlsx')

In [76]:
#2012
#df_aggregated.to_excel ('E://model_data//aggragated_score_2012.xlsx')
#df_aggregated.to_excel ('D://OneDrive - University of Warwick//model_data//aggragated_score_2012.xlsx')

In [77]:
#2011
#df_aggregated.to_excel ('E://model_data//aggragated_score_2011.xlsx')
#df_aggregated.to_excel ('D://OneDrive - University of Warwick//model_data//aggragated_score_2011.xlsx')

In [70]:
#2010
#df_aggregated.to_excel ('E://model_data//aggragated_score_2010.xlsx')
#df_aggregated.to_excel ('D://OneDrive - University of Warwick//model_data//aggragated_score_2010.xlsx')